.navbar 
{
    margin: 10px;
    padding-left: 10px;
}
.navbar .register
{
    margin-right:10px;
}

.dashboard
{
  margin-left: 10px;
  margin-right: 10px;

}

.input 
{
 padding: 16px;
  background-color: white;
}
.input input 
{
    width: 50%;
  padding: 10px;
  margin: 5px 0 10px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.input button 
{
   background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
  opacity: 0.9;
  display: block;
}
.falseRegiste 
{
  background-color: tomato;
  color: #f1f1f1;
  width: 50%;
  padding: 15px;
}

.trueRegiste ,.createMassage
{
  background-color:cadetblue;
  color: #f1f1f1;
  width: 50%;
  padding: 15px;
}
.loginerr , .createerrMassage
{
  background-color: tomato;
  color: #f1f1f1;
  width: 25%;
  padding: 15px;
}
.textarea 
{
  width: 50%;
  height: 100px;
  padding: 10px;
  background: #f1f1f1;
  font-size: 16px;
  resize: none;
}

.parantarticles
{
  display: grid;
  grid-template-columns: 50% 50% ; 
  grid-template-rows: 150px 150px;
  padding:  auto;

}
.parantarticles >div 
{
  border: 1px solid darkgrey;
}

.parantarticles >div h2 
{
  padding-left: 10px;
  color: black;
}
 .parantarticles >div p
 {
  padding-left: 10px;
  color:darkgray;
 }